body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

#login-section {
    display: flex;
    justify-content: space-around;
    margin: 2em;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

label {
    margin-bottom: 0.5em;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 0.5em;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#prescription-section {
    margin: 2em;
}

textarea {
    resize: vertical;
    height: 100px;
}
